<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hurley.wanandroid">

    <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序访问有关网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">

        <!-- 启动界面 -->
        <activity
            android:name=".module.common.SplashActivity"
            android:theme="@style/SplashTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity
            android:name=".module.common.GuideActivity"
            android:theme="@style/GuideTheme"
            android:launchMode="singleTop" />

        <!-- 主页界面 -->
        <activity
            android:name=".module.main.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop" />

        <!-- 登录界面 -->
        <activity
            android:name=".module.user.login.LoginActivity"
            android:launchMode="singleTop" />

        <!-- 注册界面 -->
        <activity
            android:name=".module.user.register.RegisterActivity"
            android:launchMode="singleTop" />

        <!-- 知识体系详情界面 -->
        <activity
            android:name=".module.system.SystemDetailActivity"
            android:launchMode="singleTop" />

        <!-- 我的收藏界面 -->
        <activity
            android:name=".module.user.collect.CollectionActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".module.user.analysis.AnalysisActivity"
            android:launchMode="singleTop" />

        <!-- 设置界面 -->
        <activity
            android:name=".module.user.setting.SettingActivity"
            android:launchMode="singleTop" />

        <!-- 关于界面 -->
        <activity
            android:name=".module.user.about.AboutActivity"
            android:launchMode="singleTop" />

        <!-- 浏览器界面 -->
        <activity
            android:name=".module.web.WebActivity"
            android:launchMode="singleTop" />

        <!-- 开源协议界面 -->
        <activity
            android:name=".module.user.about.OpenSourceActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>
